<h1>Cocktail#new</h1>
<p>Find me in app/views/cocktail/new.html.erb</p>

<div class="container">
  <h1>Add a cocktialt</h1>

  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add a cocktail!", class: 'btn btn-success' %>
  <% end %>

</div>
